.App{
  height: 100%;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.header{
  /* width: 100%;
  height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.page-banner{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 100vw;
  height: 30px;
  background-color:rgb(215, 232, 201);
}

.banner-links{
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: center;
  
}

.map-container {
  height: 400px;
  }