.App{
  height: 100%;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.header{
  /* width: 100%;
  height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.page-banner{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 100vw;
  height: 30px;
  background-color:rgb(215, 232, 201);
}




.parkPage{
  display: grid;
  
}

.parkTitle{
  display: flex;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: xx-large;
}

.parkCard{
  height: 500px;
  align-items: center;
}
.map-container {
  height: 400px;
  width: 400px;
  }

.parkImage{
    height: 400px;
    width: 800px;
    display: block;
   
    
    
  }

  .parkHeader{
    display: flex;
    border: 5px double;
    justify-content: center;
  }

  .dropdown:hover .dropbtn {
  
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  li.dropdown {
    display: block;
    width: 50px;
    
  }

  .dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(45, 44, 44, 0.748);
  z-index: 10;
  cursor: pointer;

}




.dropdown-content a:hover {background-color: rgb(125, 108, 224);}

.returnHome{
  cursor: pointer;
}