body{
  background-color:rgb(220, 226, 214);
}

.App{
  background-color:rgb(233, 250, 216);
  min-height: 100%;
  width: 100vw;
  
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.header{
  /* width: 100%;
  height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.page-banner{
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid black;
  width: 100vw;
  height: 50px;
  background-color:rgb(246, 249, 244);
  position: fixed;
  z-index: 2;
  box-shadow: 0 4px 8px 0 #d7f1be, 0 6px 20px 0 #282a27;;
}


/* .dropdown:hover .dropbtn {
  
}

.dropdown:hover .dropdown-content {
  display: block;
} */

.dropdown {
  display: block;
  width: 50px;
  /* overflow: scroll; */
  
}

.dropdown-content {
  display: block;
  background-color: #f9f9f9;
  width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(45, 44, 44, 0.748);
  z-index: 10;
  cursor: pointer;
}

.park-list{
  position: absolute;
  left: 0;
  padding-bottom: 80px;
  height: 92vh;
  width: 300px;
  overflow: scroll;
}


a.link{
  text-decoration: none;
}

.dropdown-link{
 cursor: pointer;
}

a.link:hover{
  background-color:rgb(220, 226, 214);
  border-radius: 20%;
 
}

a.link:hover .link-text{
  display: block;
}


.link-text{
  display: none;
  color: black;
  background-color:rgb(220, 226, 214);
  border-radius: 30%;
}


.dropdown-content a:hover {background-color: rgb(65, 135, 77);}

.returnHome{
  cursor: pointer;
}

.home--park-card{
  text-align: center;
}


.card-title{
inline-size: 200px;
}

.homepage-images{
  height: 200px;
  width: 200px;
  border: 5px double;
  box-shadow: 0 4px 8px 0 #d7f1be, 0 6px 20px 0 #282a27;;
}

.info-button{
  margin-top: 5px;
 margin-left: auto;
 background-color:rgb(200, 235, 171);
 border-radius: 25%;
 padding: 5px;
}

.info-button:hover{
  background-color: green;
}

.homepage{
  justify-content: center;
  margin-top: 50px;
}

.homePageGrid{
  margin-top: 100px;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  justify-content: center;
}

.home-map-container {
  height: 400px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  border: 5px double green;
}


.parkTitle{
  display: flex;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: xx-large;
}
.parkCard{
  margin-top: 100px;
  height: 500px;
  align-items: center;
}
.map-container {
  height: 400px;
  width: 400px;
}

.parkImage{
    height: 400px;
    width: 800px;
    display: block;
  }

.parkHeader{
    display: flex;
    border: 5px double;
    justify-content: center;
}

.parkDescription{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  /* display: block; */
  justify-content: center;
  text-align: center;
  font-weight: 500;
  border: 5px double;

}

.parkInfo{
  display: flex;
  justify-content: center;

}

.weather{
  inline-size: 300px;
  text-align: center;
  border: 5px double;
  margin-right: 50px;
}

.directions{
  inline-size: 300px;
  text-align: center;
  border: 5px double;
  margin-left: 50px;
}

.activities{
  text-align: center;
  border: 5px double;
  margin-top: 50px;
}

.activities-list{
  display: inline-flex;
  padding: 5px;
  padding-top: 0px;
  
}

